@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Item Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h3>
<p>@Html.ActionLink("Back to list", "Index")</p>